
body {
        background-image: url(../images/hotel-wallpaper-black.png);
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        min-height: 100%;

}  

h1 {
    background-color: #4aaaa5;
    display: inline-flex;
    padding-right: 20px;
    padding-left: 20px;
    color: white;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    text-align: center;
}

.maincontent {
    min-height: 100%;
    position: relative;
}



.content {
    width: 960px;
    color: #777777;
    background-color: white;
    padding-right: 40 px;
    padding-left: 40 px;
    padding-bottom: 60px;
}

h2 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 18pt;
    padding: 30px 0 8px 10px;
}

footer {
    margin: 0 auto;
    background: #666;
    border-top: 5px solid #4aaaa5;
    color: #fff;
    text-align: center;
    font-size: 11px;
    padding-top: 10px;
    position: absolute;
    clear:both;
    bottom: 0px;
    width: 100%;
    height: 50px;
    margin-top: 60px;
}

img {
    padding: 20px;
}

a {
    padding: 10px;
    padding-top: 30px;
    text-decoration: none;
    color: #cccccc
}
a:hover {
    text-decoration: underline;
}

.top {
    padding-bottom: 30px;
}

.container-fluid {
    min-height: 70px;
    width: 100%;
}
.nav {
    height: 70px;
}

.spn {
    text-align: center;
    padding: 20px;
}
​
.mt-10 {
    margin-top: 2rem !important;
  }
​
.mb-10 {
    margin-top: 2rem !important;
}
​
.ml-10 {
    margin-left: 2rem !important;
}

@media screen and (min-width: 980px) {
    img {
        width: 200px;
    }
}
@media screen and (max-width: 980px) {
    img {
        width: 200px;
    }
}
​
@media screen and (max-width: 768px) {
    img {
        width: 400px;
    }
}
​
@media screen and (max-width: 640px) {
    img {
        width: 500px;





/* #top {
    background-color: white;
    height: 90px;
    z-index: 0;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    clear: both;
    border-bottom: 2px solid #ccc;
}

h1 {
    padding: 20px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding: 8px;
    border-right: 1px solid #bbb;
    float: left;
}
li:last-child {
    border-right: none;
  }
  

a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #cccccc
}
a:hover {
    text-decoration: underline;
}

#maincontent {
    width: 960px;
    align-self: center;
    flex: 1 0 auto;
    clear: both;
    padding: 30px;
}
header {
    background-color:#4aaaa5;
    padding:-15px;
    float: left;
    z-index: 2;
    margin-left: 195px;
    color: white;
    height: 90px;

}

head {
    background-color: #ffffff;
    border: #cccccc;
    height: 30px;
}


.buttons {
    float: right;
    padding: 20px;
    position: relative;
    text-align: right;
    display:inline;
    right: 200px;

}

.content {
    top: 100px;
    background-color: white;
    padding:0 30px 30px;
    color: #777777;
}

#profileimage {
    width: 300px;
    float: left;
    padding: 0px 15px 10px 0;
    margin-top: 20px;

}
footer {
    background-color: #666666;
    border-top:8px solid #4aaaa5;
    font-size: x-small;
    color: white;
    bottom: 0;
    flex-shrink: 0;
    left: 0;
    text-align: center;
    width: 100%;
    clear: all;
}

html, body {
    height: 100%;
}

contact stuff
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical  Allow the user to vertically resize the textarea (not horizontally) 
  }
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  ::placeholder {
      color: lightgray;
  }



  .portfolio content {
      width: 960px;
      background-color: white;
      height: 600px;
  }

  #portfolio {
      display: grid;
      grid-template-columns: 200px 200px;
      grid-gap: 20px;
      width: 200px;
        
  }



  .port {
      width: 200px;
      padding: 30px;

  }

  .port2 {
      transform: rotate(180deg);
  }

  .port3 {
      transform: rotate(-90deg);
  }

  .port5 {
      transform: rotate(90deg);
  } */